<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main>
        <div>
            <h1>My Lists</h1>
            <p><a href="/todos/create/">Create a new list</a></p>
            <p><a href="/todos/items/create/">Create a new item</a></p>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Number of items</th>
                </tr>
                {% for todos_list in todos_lists %}
                <tr>
                    <td><a href="/todos/{{ todos_list.id }}/">{{ todos_list.name }}</a></td>
                    <td>{{ todos_list.items.count }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </main>
</body>

</html>
