<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main>
        <div>
            <h1>{{ todo_list_name }}</h1>
            <p><a href="/todos/{{ todo_list_id }}/edit/">Edit</a></p>
            <p><a href="/todos/{{ todo_list_id }}/delete/">Delete</a></p>
            <h2>Tasks</h2>
            <table>
                <tr>
                    <th>Task</th>
                    <th>Due date</th>
                </tr>
                {% for todo_list_item in todo_list_items %}
                <tr>
                    <td><a href="/todos/items/{{ todo_list_item.id }}/edit/">{{ todo_list_item.task }}</a></td>
                    <td>{{ todo_list_item.due_date }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </main>
</body>

</html>
